@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.dotted {
    background: radial-gradient(circle, #4f46e5 10%, transparent 11%),radial-gradient(circle at bottom left, #4f46e5 5%, transparent 6%),radial-gradient(circle at bottom right, #4f46e5 5%, transparent 6%),radial-gradient(circle at top left, #4f46e5 5%, transparent 6%),radial-gradient(circle at top right, #4f46e5 5%, transparent 6%);
    background-size: 3em 3em;
    background-color: #f9f9ff;
    opacity: 0.5
}